.cont{
  background-color:  #F4F6FA;
  overflow-x:hidden;
}
.crd-img{
  border-radius: 5% 5% 0 0;
}
.crd-text{

  margin-top: 2rem;
}
.btn2{
  margin-top:2rem;
}
.crd-btn{
  justify-content: right;
  text-align:right;
  
}


.mod-img   {
  width:70%;
  padding:1rem 3rem;
}
.mod-body{
  padding:2rem;
  
}

.mod-text{
  padding:0 3rem 1rem 3rem;
  font-weight: 500;
  line-height: 2rem;
  font-size:1.2rem;
  letter-spacing: 1px;
  color:black;
}
.mod-head{
  margin-right:2rem;
}
.mod-title{
  margin : 4rem 0 0 3rem;
  font-weight: 500;
  font-size:1.5rem;
}
.mod-in-body{
  background-color: #F4F6FA; 
}
