.user_img{
  width:6rem;
}
.groupe_img{
  width:9rem;
}
.user_count {
  font-size:5rem;
}
.groupe_count {
  font-size:5rem;
  margin-top:2rem;
}

.num_user{
  border:transparent;
  box-shadow: 20px 20px 20px rgba(0,0,0,.2);
}