.crd_body{
border-radius:5%;
border:none;
overflow: hidden;
box-shadow: 20px 20px 20px rgba(0,0,0,.2);

}
.crd1{
 padding:0 auto;

}
.categ{
  justify-content: center;
}
.categ2{
  margin-top:50px;
}
.crd1:nth-child(1){
  margin: 0 150px 0 0;
}
.card-btn{
  width:10rem;
  border-radius:20px;
  border: 2px solid $primary;
  @include transition;
}
.card-btn:hover{
  background-color:$primary;
  color:white;

}
.categ_act{
  display:none;
}