.experience{
h4{
  margin-bottom:5rem;
}
}
.prof-exam{
  border-spacing:1rem;
  border-collapse:separate;
  box-sizing: border-box;
  tr{
    border:transparent;
    box-shadow: 20px 20px 20px rgba(0,0,0,.2);
    border:transparent;
    border-radius:2rem;
  }
}
.prof-exam2{
  border-spacing:1rem;
  border-collapse:separate;
  box-sizing: border-box;
  tr{
    border:transparent;
    box-shadow: 20px 20px 20px rgba(0,0,0,.2);
    border:transparent;
  border-radius:2rem;
  }
}
